body{
    background-color: bisque;

   
}
.mainContainer{
    margin-top: 80;
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-evenly;
    row-gap: 30px;
    padding: 2;
    border-radius: 10%;
    border: 3;

    background-color: rgba(119, 59, 19, 0.987);
    
}
h1{ display: flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-evenly;
    row-gap: 30px;
    background-color: gray;
 font-size: 50px;

}
img {
    border-radius: 40px;
    margin: 3px;
    width: 500;
    height: 500;
  }

img:hover {
    transform: scale(1.2);
  } 
button{
    padding: 2px;
    margin: 10;
    background-color: cadetblue;
    border: 0 solid black;
    border-radius: 25%;
}
.like_dislike_container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .like_dislike_container h1 {
    text-decoration: none;
  }
  
  .fa-thumbs-up {
      background-color: rgb(98, 102, 102);
    color: rgb(53, 175, 16);
  }
  .fa-thumbs-down {
    background-color: rgb(98, 102, 102);
    color: rgb(20, 17, 173);
  }
